 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      background-color: #f9f9f9;
    }

    .footer {
      background: #e0e0e0;
      color: #010101;
      padding: 10px 15px;
      font-size: 15px;
      box-shadow: 0px -5px 1px rgba(232, 232, 232, 0.3);
    }

    .container {
      max-width: 1300px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;
    }

    .footer-col {
      flex: 1;
      min-width: 250px;
     /* border: 1px solid;*/
    }

    .footer-col.about {
      flex: 1.5;
    }
    .footer-col.KM {
      flex: 1.8;
    }
    .logo-footer {
      width: 250px;
      height: auto;
      margin-bottom: 10px;
    }

    .footer-col h4 {
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #333;
    }

    .footer-col ul {
      list-style: none;
    }

    .footer-col ul li {
      margin-bottom: 8px;
    }

    .footer-col ul li a {
      color: #333;
      text-decoration: none;
    }

    .footer-col ul li a:hover {
      color: #4B0082;
      font-weight: bold;
    }
.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
 
}


.social-icons a img {
  width: 30px; 
  height: 30px;
 
}

.social-icons a {
  
  /* font-size: 20px; */ 
  color: #333;
  text-decoration: none;
}
.social-icons a img {
  width: 30px; 
  height: 30px;
  transition: transform 0.2s ease;
}

.social-icons a:hover img { 
  transform: scale(1.2);
}

.social-icons a img {

  width: 30px; 
  height: 30px; 
  
}

    .promo-signup {
      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 8px;
      
    }

    .promo-signup h2 {
      font-size: 18px;
      
      color: #d70018;
      text-align: center;
    }

    .promo-signup p {
      font-size: 14px;
      margin: 2px 0;
    }

    .promo-signup .note {
      font-style: italic;
      color: #808288ff;
    }

    .promo-signup form {
      margin-top: 10px;
    }

    .promo-signup label {
      display: block;
      margin-top: 10px;
      font-size: 13px;
    }

    .promo-signup input[type="email"],
    .promo-signup input[type="tel"] {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .promo-signup .checkbox {
      margin-top: 10px;
      font-size: 13px;
    }

    .promo-signup button {
      margin-top: 15px;
      background-color: #4B0082;
      color: white;
      border: none;
      padding: 10px 20px;
      font-weight: bold;
      border-radius: 4px;
      cursor: pointer;
    }

    .promo-signup button:hover {
      background: linear-gradient(45deg, #d70018, #baa9ff);
    }

    @media (max-width: 768px) {
      .container {
        flex-direction: column;
      }

      .footer-col {
        width: 100%;
      }

    }
    .promo-signup form button {
  display: block;
  margin: auto; /* auto sẽ đẩy nút ra giữa */
  margin-top: 10px;
  margin-bottom: -6px;
}